<p><%= t(:hello).capitalize %> <%= @resource.email %>!</p>

<p><%= t '.request_reset_link_msg' %></p>

<p><%= link_to t('.password_change_link'), edit_password_url(@resource, reset_password_token: @token, config: message['client-config'].to_s, redirect_url: message['redirect-url'].to_s).html_safe %></p>
<% if edit_v1_customer_password_url %>
        <%#= link_to 'パスワードを変更・お忘れの方はこちらへ', 
    edit_v1_customer_password_url(reset_password_token: @token, config: message['client-config'].to_s, 
                                    redirect_url: message['redirect-url'].to_s).html_safe %>
        <%#= link_to 'パスワードを変更・お忘れの方はこちらへ', 
            edit_v1_customer_password_url(reset_password_token: @token).html_safe %>
        <%#= link_to 'パスワードを変更・お忘れの方はこちらへ', edit_password_url(reset_password_token: @token).html_safe %>
<% elsif edit_v1_trainer_password_url %>
        <%#= link_to 'NEW!!! Change my password', 
        edit_v1_trainer_password_url(reset_password_token: @token, config: message['client-config'].to_s, 
        redirect_url: message['redirect-url'].to_s) %>
<% end %>


<p><%= t '.ignore_mail_msg' %></p>
<p><%= t '.no_changes_msg' %></p>
